{% extends 'bash/bash-index.html' %}
{% block head%}

{% endblock %}
{% block centent %}
{% load deploy_tag %}
<div id="content-header">
    <ol class="breadcrumb" style="background-color: #ffffff">
        <a href="/" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i>Home </a>>
        <a href="/asset/{{ model_name }}/" class="tip-bottom" data-original-title="">{% build_project_verbose_name admin_class %}</a>>
        <a href="/asset/{{ model_name }}/" title="数据中心信息表" class="tip-bottom" data-original-title="">修改{% build_project_verbose_name admin_class %}信息表</a>
    </ol>

    {{ form_obj.errors }}
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title span10" style="border: 0px solid">

                </div>
            </div>
        </div>
        <div class="span12" style="width: 75%;margin-left:11.564103%">
            <div class="widget-box">
                <div id="generalTabContent" class="tab-content responsive">
                    <div id="alert-tab" class="tab-pane fade in active">
                         <form method="post">{% csrf_token %}
                            <div class="modal-body">
                                <div class="modal-body" >
                                     <form class="form-horizontal" method="post">{% csrf_token %}
                                    {% for field in form_obj %}

                                        <div class="form-group " id="div_{{ field.name }}" >

                                            <label id="{{ field.name }}" style="font-size: 12px">{{ field.label }}：</label>
                                            {% if field.name == 'number' %}
                                                <input type="text" name="number" class="form-control"  oninput="value=value.replace(/[^\w]/g,'')" value="{{ field.value }}">
                                            {% elif field.name == 'problem' %}
                                                <textarea name="problem" maxlength="64" class="form-control" style="height: 200px" id="id_problem">{{ field.value }}</textarea>
                                            {% elif field.name == 'resolvent' %}
                                                <textarea name="resolvent" maxlength="128" class="form-control" style="height: 200px" id="id_resolvent">{{ field.value }}</textarea>
                                            {% elif field.name == 'nextresolvent' %}
                                                <textarea name="nextresolvent" maxlength="128" class="form-control" style="height: 200px" id="id_nextresolvent">{{ field.value }}</textarea>
                                            {% elif field.name == 'testing_job' %}
                                                <textarea name="testing_job" maxlength="128" class="form-control" style="height: 200px" id="id_testing_job">{{ field.value }}</textarea>
                                            {% elif field.name == 'testing_job' %}
                                                <textarea name="testing_job" maxlength="128" class="form-control" style="height: 200px" id="id_testing_job">{{ field.value }}</textarea>
                                            {% else %}
{#                                                <input type="text" name="{{ field.name }}" style="padding: 4px 80px">#}
                                            {{ field }}
                                            {% endif %}
                                            <span style="color: red" id="{{ field.name }}_errors">{{ field.errors.0 }}  </span>
                                        </div>
                                        <br>
                                    {% endfor %}
                                     </form>
                                </div>
                                 <div class="form-group">
                                    <div class="span8">
                                        <input type="submit" class="btn btn-info" value="保存">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="/static/js/laydate.js"></script>
<script>

$(function () {
    setTime();
})

function setTime() {
    laydate.render({
    elem: '#id_estimate_time',
    type: 'datetime'
    })

    laydate.render({
        elem: '#id_resolve_time',
        type: 'datetime'
    })
}

</script>



{% endblock %}